<div class="border-box">
  <div class="parties-new">
    <%= form_for(@party) do |party| %>
      <h1>Create a new party</h1>
      <%= party.text_field :name, placeholder: "Party name" %>
      <%= party.text_field :theme, placeholder: "Party theme" %>
      <div class="parties-new-spending-limit">
        <div class="parties-new-spending-limit-sign">$</div>
        <div class="parties-new-spending-limit-input">
          <%= party.text_field :spending_limit, placeholder: "Spending Limit" %>
        </div>
      </div>
      <div class="parties-new-submit">
        <%= party.submit %>
      </div>
    <% end %>
  </div>
</div>
