<tr>
  <%= form_for participant, url: "/participants/#{participant.encoded_id}" do |participant_form| %>
    <%= form_tag method: :put %>
    <% if @party.sent? %>
    <td>
      <%= participant.gifting.confirmed? ? "Yes" : "No" %>
      <br/>
      <% unless participant.gifting.confirmed? %>
        <%= link_to "Send Reminder", { controller: "giftings", action: "remind", id: participant.gifting.encoded_id } %>
      <% end %>
    </td>
    <% end %>
    <td>
      <%= participant_form.text_field :name, placeholder: "Name" %>
      <%= participant_form.text_field :email, placeholder: "Email Address" %>
    </td>
    <td>
      <%= participant_form.check_box :party_owner %> Host
    </td>
    <td>
      <%= participant_form.submit "Update Guest", class: "new-participant-partial" %>
    </td>
  <% end %>
</tr>
