<%= form_for(@participant) do |participant| %>

  <div class="field">
    <%= participant.label "New Participant" %><br />
    <%= participant.text_field :email %>
    <%= hidden_field(:participant, :party_id, value: @party.id) %>
  </div>
  <%= participant.submit "Add Participant" %>

<% end %>
