<div class="welcome">
  <div class="welcome-heading">
    <h1>Happy Holidays!</h1>
  </div>

  <div class="border-box">
    <div class="welcome-parties">
      <div class="welcome-new-party">
        <h2>
          <%= link_to "Host a new Secret Santa party", {:controller => :parties, :action => :new} %>
        </h2>
      </div>

      <div class="welcome-existing-party">
        <%= form_for :existing_party, url: "parties/find", method: :post do |form| %>
          <h2>Continue existing party</h2>
          <% if flash[:error] == "no_parties_found" %>
            <p>No parties found with those details</p>
          <% end %>
          <%= form.text_field :email, placeholder: "email" %>
          <%= form.text_field :holiday_passphrase, placeholder: "holiday passphrase" %>
          <%= form.submit "Find my party"  %>
        <% end  %>
      </div>
    </div>
  </div>
</div>
